.main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 2.5rem 1rem;
  row-gap: 3rem;
  position: relative;
}

.main>section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputs>textarea {
  width: 250px;
}

.inputs>div {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0.5rem 0;
}

.inputs>div>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 230px;
}

.inputs input {
  accent-color: var(--ifm-color-primary-lighter);
}

.inputs select {
  width: 150px;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.text {
  margin-top: 2rem;
  height: 50vh;
  max-height: 400px;
}

.text>h4 {
  text-align: center;
}

.text>div {
  width: 250px;
  max-height: 80%;
  text-align: justify;
  overflow-y: scroll;
}

.button {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  translate: -50%;
  padding: 0.5rem 0.75rem;
  margin: auto;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  color: var(--ifm-font-color-base-inverse);
  background-color: var(--ifm-color-primary-lighter);
}

.button:hover {
  background-color: var(--ifm-color-primary-dark);
}

@media screen and (max-width: 720px) {
  .main {
    flex-direction: column;
  }
}